[Unit]
Description=Eww

[Service]
ExecStart=/home/sidharta/bin/eww daemon --no-daemonize
EnvironmentFile=/home/sidharta/.config/systemd/env
KillMode=process

[Install]
WantedBy=xsession.target
