[Unit]
Description=Picom Compositor
Documentation=man:picom(1)

[Service]
Restart=always
RestartSec=0.5
ExecStart=/usr/bin/picom
EnvironmentFile=/home/sidharta/.config/systemd/env

[Install]
WantedBy=xsession.target
