$color-fg: #a0a8cd;
$color-background: #000b1e;
$color-pink: #ff00ee;
$color-red: #ff0000;
$color-orange: #ff9500;
$color-teal: #00f7ff;
$color-green: #15ff00;
$color-blue: #006bff;
$color-yellow: #d7a65f;
$color-purple: #8c33ff;
$color-grey: #4a5057;
$color-shadow-grey: #303030;
$color-dark-grey: #202020;
