$color-fg: #a0a8cd;
$color-background: #000b1e;
$color-pink: #ff00ee;
$color-red: #ff0000;
$color-error: #f44336;
$color-success: #66bb6a;
// #ff9500;
$color-orange: rgb(255, 149, 0);
$color-orange-thin: rgba(255, 149, 0, 0.5);
$color-teal: #00f7ff;
$color-green: #15ff00;
$color-blue: #006bff;
// #d7a65f;
$color-yellow: rgb(215, 166, 95);
$color-yellow-thin: rgba(215, 166, 95, 0.4);
$color-purple: #8c33ff;
$color-grey: #4a5057;
$color-shadow-grey: #303030;
$color-dark-grey: #202020;
