@use "./widgets/bspwm-desktops";
@use "./widgets/pulse-audio-volume";
@use "./widgets/monitor-backlight";
@use "./widgets/wifi-list";
@use "./widgets/launcher";
@use "./colors";

window {
  font-size: 24px;
  color: colors.$color-yellow;
  background-color: transparent;
}

.main-container {
  padding: 4px 16px;
  &.solid {
    background-color: colors.$color-dark-grey;
  }
  &.split {
    background-color: transparent;
    margin: 0 0 15px 0;
  }
}

.backdrop {
  background-color: colors.$color-shadow-grey;
  border: 1px solid colors.$color-yellow-thin;
  border-radius: 8px;
  padding: 0px 16px;
  &.split {
    margin: 5px 0 0 0;
    box-shadow: 0 0 4px black;
    // padding: 4px 32px;
    padding: 5px 16px;
  }
}
