@use "./colors";

.launcher-container {
  background-color: colors.$color-dark-grey;
  border: 1px solid colors.$color-yellow;
  border-radius: 8px;
  padding: 32px;

  .content-container {
    entry {
      background-color: colors.$color-shadow-grey;
      color: colors.$color-yellow;
      border: 1px solid colors.$color-yellow;
      padding: 8px 16px;
      margin: 0 0 16px 0;
      border-radius: 16px;
    }

    .items-constainer {
      background-color: colors.$color-shadow-grey;
    }
  }
}
