@use "./colors";

.pulse-audio-volume-container {
  scale contents {
  }

  scale trough {
    background-color: colors.$color-fg;
    border-radius: 100px;
    border-color: transparent;
  }

  scale slider {
    all: unset;
    min-width: 1px;
    min-height: 16px;
    border-radius: 100px;
    border-color: transparent;
  }

  scale highlight {
    background-color: colors.$color-green;
    border-radius: 100px;
    border-color: transparent;
  }
}
