@use "./colors";

.wifi-list-container {
  .separator {
    border-width: 1px 0 0 0;
    border-style: solid;
    border-color: colors.$color-green;
  }
  border-radius: 16px;
  background-color: colors.$color-dark-grey;
  padding: 16px;

  .selected-newtork-container {
    margin: 0 0 32px 0;
  }

  .network-item {
    background-color: colors.$color-shadow-grey;
    border-radius: 4px;

    padding: 4px 8px;
    margin: 8px;
  }
}
